# Database Configuration

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=taskflow_user
MYSQL_PASSWORD=change-me-in-real-env
MYSQL_DB=taskflow

# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=change-this-to-a-random-string-in-production

# Application settings
APP_PORT=5000